* {
    font-family: "Raleway", sans-serif;
    -moz-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    overflow: hidden;
}

#gameTitle {
    text-align: center;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 1px 7px rgba(0,0,0,0.75);
    position: absolute;
    top: 6rem;
    background: rgba(0,0,0,0.5);
    padding: 1rem;
    line-height: 4rem;
}

#gameTitle span {
    font-size: 3rem;
    color: royalblue;
}

#gameWindow {
    width: 70rem;
    height: 50rem;
    background: #f4f4f4;
    margin: 0 auto;
    position: relative;
    border: 3px solid #333;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#graphicsArea {
    background: url("images/background/beach.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#choices {
    position: absolute;
    height: 1rem;
    top: 26rem;
    display: flex;
    flex-direction: column;
}

#textArea {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    z-index: 2;
    position: absolute;
    height: 7rem;
    width: 51rem;
    left: 8.5rem;
    bottom: 1.9rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 1rem 0rem 0.7rem rgba(0,0,0,0.7), -1rem 0rem .7rem rgba(0,0,0,0.7), 0rem 1rem 1rem rgba(0,0,0,0.5);

    /* Animation Purposes */
    opacity: 0;
    display: none;
    transition: .5s ease;
}

#textArea div {
    background: black;
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: .955rem;
}

#textArea p {
    word-wrap: break-word;
}

/* CHARACTER */

#aiko {
    background: url("images/character/spriteSheet/ssAiko.png") no-repeat;
    background-size: 287rem;
    background-position: 3rem;
    width: 27rem;
    height: 50.2rem;
    position: absolute;
    bottom: -2rem;
    left: 23%;

    /* Animating Purposes */
    opacity: 0;
    display: none;
    transition: .5s ease;
}
